.add-img-upload button {
  max-width: 120px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-img-upload button:hover {
  background-color: rgb(234, 178, 110);
  transform: scale(1.05);
}

.add {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
}
.add form {
  gap: 20px;
}
.add-img-upload img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.add-img-upload img:hover {
  transform: scale(1.05);
}

.add-product-name,
.add-product-description {
  width: max(40%, 280px);
}
.add-product-name input,
.add-product-description textarea {
  padding: 10px;
}
.add-category-price {
  display: flex;
  gap: 30px;
}
.add-category-price select,
.add-category-price input {
  max-width: 120px;
  padding: 10px;
}
.add-btn {
  max-width: 120px;
  border: none;
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.add-btn:hover {
  background-color: rgb(234, 178, 110);
}
