/* Home.css */
.nav-bar {
    padding: 1rem;
  }
  
  .navbar-nav .nav-item-left {
    margin-left: 20px;
    margin-right: 20px; /* Adjust the value to increase the spacing between nav items */
  }

  
  
  .tomato {
    color: red;
    text-align: center;
    font-size: 1.5rem; /* Adjust the font size as needed */
  }
  
  .tomato p {
    margin: 0; /* Remove default paragraph margin */
  }
  
  .navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  
  /* Custom styles for the right-side navigation items */

.nav-item-right-signin {
    margin-left: 450px; /* Adjust the left margin as needed */
    display: flex;
    align-items: center;
    height: 40px; /* Adjust the height as needed */
  }
  
  .nav-item-right-signin .nav-link {
    padding: 0;
  }
  
  .nav-item-right-signin .btn {
    height: 100%;
    padding: 0 10px; /* Adjust padding inside the button */
  }
  
  .nav-item-right-cart {
    margin-left: 15px; /* Adjust the left margin as needed */
    display: flex;
    align-items: center;
    height: 40px; /* Adjust the height as needed */
  }
  
  .nav-item-right-cart svg {
    width: 24px; /* Adjust the icon width */
    height: 24px; /* Adjust the icon height */
  }
  
  
  .bg-picture {
    width: 100%;
    height: 550px; /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; /* Center items vertically */
    position: relative;
  }
  
  .Order-text {
    font-size: 3rem; /* Adjust the font size as needed */
    color: white; /* Adjust the color as needed */
    z-index: 1; /* Ensure the text is above any potential background overlays */
    margin-left: 20px; /* Adjust as needed to position text from the left */
  }