.header {
  height: 55vw;
  margin: 10px auto;
  background: url("./header_img.png") no-repeat center center;
  background-size: cover;
  position: relative;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5vw;
  max-width: 80%;
  top: 30%;
  bottom: 70%;
  left: 6vw;
  font-size: x-large;
  animation: 3s;
  padding: 1vw;
  border-radius: 10px;
}

.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(3vw, 22px);
}
.header-contents p {
  color: rgb(202, 197, 242);
  font-size: 1.5vw;
  font-weight: 300;
}

.header-contents button {
  border: none;
  color: rgb(31, 207, 11);
  font-weight: 500;
  padding: 1vw 2.3vw;
  font-size: max(1vw, 13px);
  border-radius: 30px;
}

.header-contents button:hover {
  background-color: #f2fff7;
}

@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}
@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
