.food-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .food-details h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .food-details-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .food-details-image:hover {
    transform: scale(1.05) rotate(0.25deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .food-details-description {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .food-details-price {
    font-size: 22px;
    font-weight: bold;
    color: #19dca5;
  }
  